body{
    padding: 0;
    margin: 0;
    background:linear-gradient(20deg,white,blueviolet,white);
    padding-top: 12vh;
}
a{
    text-decoration: none;
}
#back:hover{
    background-color:darkblue;
    color: white;
    cursor: pointer;
}
#back{
    font-family: "Abel", sans-serif;
  font-weight:normal;
  font-style: normal;
    text-align: center;
    margin-left: 10px;
    width: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 20px;
    border-style: solid;
    color: blue;
    
}
#btn{
    display: flex;
    width: 250px;
    margin: auto;
    justify-content: space-around; 
    
    
}
#no:hover{
    background-color: darkblue;
    color: white;
    cursor: pointer;
}
#yes:hover{
    background-color: darkblue;
    color: white;
    cursor: pointer;
}
#yes, #no{
    background-color: white;
    color: black;
    text-align: center;
    width: 80px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
#text-konfir{
    color: white;
    /*background-color: cadetblue;*/
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    border-style: solid;
    border-color: white;
}
#konfirm{
    padding-top: 20px;
    font-family: "Abel", sans-serif;
  font-weight:normal;
  font-style: normal;
    border-radius: 20px;
    width: 60%;
    padding-bottom: 20px;
    background:linear-gradient(45deg,purple,blue,purple);
    top:5px;
    display: none;
    position: fixed;
    margin-left: 20%;
    text-align: center;
}
#info-web{
    width: 80%;
    text-align: justify;
    margin: auto;
 font-family: "Abel", sans-serif;
  font-weight:normal;
  font-style: normal;
}
ol{
    margin-left: 100px;
     font-family: "Abel", sans-serif;
  font-weight:normal;
  font-style: normal;
}
#tbl{
    width: 120px;
font-family: "Abel", sans-serif;
  font-weight:normal;
  font-style: normal;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 20px;
    text-align: center;
    background-color: blue;
    color: white;

    
    margin-left: 40%
    
}
#tbl:hover{
    cursor: pointer;
    background-color: forestgreen;
}
select{
    height: 30px;
    margin-left: 30%;
    width: 250px;
    text-align: center;
    font-family: "Abel", sans-serif;
  font-weight:bold;
  font-style:normal;
    font-size: 12pt;
    border-radius: 20px;
}
#rg{
    font-size: 12pt;
}
#ppo{
    
    text-align: center;
    width: 100%;
    margin: auto;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    background:linear-gradient(20deg,pink,blue,pink);
    /*box-shadow: 2px 2px 2px 0px grey;*/
   
      font-family: "Abel", sans-serif;
  font-weight:bold;
  font-style: normal;
}

#box-form{
    border-radius: 20px;
    width: 50%;
    
    background-color: white;
    margin: auto;
    box-shadow: 2px 2px 20px 0px black;
}
@media only screen and (max-width: 600px){
    body{
        padding-top:0;
    }
    select{
        margin-left: 10%;
    }
    #tbl{
        margin-left: 10%;
    }    
    #back{
        margin-left: 10%;
        width: 110px;
    }
    ol{
        margin-left: 10px;
        width: 78%;
        text-align: justify;
    }
    #box-form{
        
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
    #ppo{
        width: 100%;
    }
    #konfirm{
        width: 90%;
        margin-left: 4%;
        top: 40vh;
         
        
    }
}